:root {
  --glowcolor: lightblue;
  --glowcolorsec: rgb(102, 203, 236);
}

@font-face {
  font-family: "Pusab";
  src: url("../img/PUSAB___.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  height: 100vh;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.glow {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

.discord {
  left: 80vw;
  top: 55vh;
  position: absolute;
  z-index: 100;
  display: flex;
  justify-content: end;
  width: 30vh;
  font-family: "Pusab";
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: white;
  text-align: center;
}
.discord .discordcontainer {
  display: flex;
  flex-direction: column;
}
.discord .discordcontainer .discordbtn {
  border-radius: 50%;
  background: url("../img/discordlogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 30vh;
  height: 30vh;
  margin: 10px;
  transition: all 0.5s;
}
.discord .discordcontainer .discordbtn:hover {
  width: 32vh;
  height: 32vh;
}

.backgroundslider {
  position: absolute;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
}
.backgroundslider .bgtrack {
  height: 100%;
  width: 3960px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  -webkit-animation: scroll 10s linear infinite;
          animation: scroll 10s linear infinite;
}
.backgroundslider .bgtrack .slide {
  height: 100%;
  width: 100%;
  background: url("../img/background07.png");
  background-size: 70%;
  perspective: 100px;
}

.contenido {
  width: 100%;
  height: 99vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0px;
  overflow: hidden;
}
.contenido .main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 5px;
  justify-content: top;
  overflow: scroll;
}
.contenido .main .changes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: left;
  justify-content: center;
  padding: 0 11%;
}
.contenido .main .change {
  display: flex;
  align-items: top;
}
.contenido .main .change p {
  font-family: "Pusab";
  font-size: 25px;
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: white;
}
.contenido .main h1 {
  padding-top: 10px;
  text-align: center;
  font-family: "Pusab";
  font-size: 40px;
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: lightblue;
}
.contenido .main h2 {
  text-align: center;
  font-family: "Pusab";
  font-size: 25px;
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: white;
}
.contenido .main h3 {
  text-align: center;
  font-family: "Pusab";
  font-size: 30px;
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: white;
}
.contenido .main h4 {
  padding-left: 5px;
  padding-right: 5px;
  text-align: left;
  font-family: "Pusab";
  font-size: 30px;
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: gold;
}

@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-850px);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-850px);
  }
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px var(--glowcolorsec), 0 0 20px var(--glowcolorsec), 0 0 25px var(--glowcolorsec), 0 0 30px var(--glowcolorsec), 0 0 35px var(--glowcolorsec);
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 15px var(--glowcolor), 0 0 20px var(--glowcolor), 0 0 25px var(--glowcolor), 0 0 30px var(--glowcolor), 0 0 35px var(--glowcolor), 0 0 40px var(--glowcolor);
  }
}/*# sourceMappingURL=index.css.map */